{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
    <title>BlogSite</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'blog-home' %}">
                <h1>Blog</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a style="color: #ECEFF4;" class="nav-link" href="{% url 'blog-api' %}">API</a>
                    </li>
                    <li class="nav-item">
                            <a style="color: #ECEFF4;" class="nav-link" href="{% url 'profile' %}"">{{request.user}}</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #ECEFF4;" class="nav-link" href="{% url 'post-create' %}"">New Post</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a style="color: #ECEFF4;" class="nav-link" href="{% url 'blog-about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        {% if request.user.is_authenticated %}
                        <a style="color: #ECEFF4;" class="nav-link" href="{% url 'logout' %}">Logout</a>
                        {% else %}
                        <a style="color: #ECEFF4;" class="nav-link" href="{% url 'login' %}">Login</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br><br><br><br>
    <div class="container">
        <div class="row responsive">
            <div class="col-md-8">
                <div class="container_1">
                    <div class="ss container paragraph">
                        <img src="{{ object.author.profile.image.url }}" alt="" width="60px" height="60x" style="border-radius: 50%">
                        <small ><a href="{% url 'profile-detail' object.author.profile.id %}">{{ object.author }}</a></small>
                        <h2>
                            <a href="#">{{ object.title }}</a>
                        </h2>
                        <hr>
                        <p>
                            {{ object.content }}
                        </p>
                        {% if object.author == request.user %}
                        <div>
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                        </div>
                        {% endif %}
                        <small style="color: #7d879b;">
                            <p>{{ post.date_created|date:"F d, Y" }}</p>
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card custom" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Whats on your mind?</h5>
                        <p class="card-text">Share your thoughts with people around you.</p>
                        <a href="{% url 'post-create' %}" class="btn my_button">New Post</a>
                        <div id="socket">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <br><br>
    <br><br><br>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" 
        integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script>
        const socket = io('192.168.43.189:7000/');
        socket.on('chat', msg => {
            const content = document.getElementById('socket')
            content.innerHTML += 
                        `<hr>
                        <div class="alert alert-primary" role="alert" >
                            ${msg} posted a new article
                        </div>`
            console.log(msg);
        })
    </script>
</body>
</html>
